* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 14px;
}

.search-box {
  width: 320px;
  margin: 70px auto;
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 6px 8px;
}
